# Created by venv; see https://docs.python.org/3/library/venv.html
# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Database and vector store
/dbVector/

# Logs
*.log

# Environment variables
.env

# Ignore OS files
.DS_Store
Thumbs.db
